# R1

cardinal_numbers = ("FIRST", "SECOND", "THIRD")
print(cardinal_numbers[1])

In [2]:
print("The string index is at index 1",cardinal_numbers[1])

The string index is at index 1 SECOND

In [3]:
position1, position2, position3 = cardinal_numbers

print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [4]:
my_name = tuple("Daven")   
print(my_name)

('D', 'a', 'v', 'e', 'n')

In [5]:
print("X" in my_name)

False

In [6]:
new_tuple = my_name[1:]
print(new_tuple)

('a', 'v', 'e', 'n')

# R2

In [8]:
food = ["rice", "beans"]
print(food)

['rice', 'beans']

In [9]:
food.append("broccoli")
print(food)

['rice', 'beans', 'broccoli']

In [10]:
food.extend(["bread", "pizza"])
print(food)

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [11]:
print(food[:2])

['rice', 'beans']

In [12]:
print(food[:-1])

['rice', 'beans', 'broccoli', 'bread']

In [13]:
breakfast = "eggs, fruits, orange juice".split(", ")
print(breakfast)

['eggs', 'fruits', 'orange juice']

In [14]:
print(len(breakfast))

3

In [15]:
lengths = [len(item)
           for item in breakfast]
print(lengths)

[4, 6, 12]

# R3

In [16]:
data = ((1, 2), (3, 4))
print (data)

((1, 2), (3, 4))

In [17]:
row_num = 1
for tupple in data:
    print(f"Row {row_num} sum:", sum(tupple))
    row_num += 1

Row 1 sum: 3
Row 2 sum: 7

In [18]:
numbers = [5, 2, 9, 1, 7]
numbers_copy = numbers[:]
print("Copy of numbers:", numbers_copy)

Copy of numbers: [5, 2, 9, 1, 7]

In [19]:
numbers.sort()
print("Sorted numbers:", numbers)

Sorted numbers: [1, 2, 5, 7, 9]

In [20]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
for university in universities:
    print(university)

['California Institute of Technology', 2175, 37704]
['Harvard', 19627, 39849]
['Massachusetts Institute of Technology', 10566, 40732]
['Princeton', 7802, 37000]
['Rice', 5879, 35551]
['Stanford', 19535, 40569]
['Yale', 11701, 40500]

In [21]:
nouns = ["Fossil", "Horse", "Aardvark", "Judge", "Chef", "Mango", "Extrovert", "Gorilla"]
verbs = ["Kicks", "Jingles", "Bounces", "Slurps", "Meows", "Explodes", "Curdles"]
adjectives = ["Furry", "Balding", "Incredulous", "Fragrant", "Exuberant", "Glistening"]
prepositions = ["Against", "After", "Into", "Beneath", "Upon", "For", "In", "Like", "Over", "Within"]
adverbs = ["Curiously", "Furiously", "Sensuously", "Extravagantly", "Tantalizingly"]


print("Nouns:", nouns)
print("Verbs:", verbs)
print("Adjectives:", adjectives)
print("Prepositions:", prepositions)
print("Adverbs:", adverbs)

Nouns: ['Fossil', 'Horse', 'Aardvark', 'Judge', 'Chef', 'Mango', 'Extrovert', 'Gorilla']
Verbs: ['Kicks', 'Jingles', 'Bounces', 'Slurps', 'Meows', 'Explodes', 'Curdles']
Adjectives: ['Furry', 'Balding', 'Incredulous', 'Fragrant', 'Exuberant', 'Glistening']
Prepositions: ['Against', 'After', 'Into', 'Beneath', 'Upon', 'For', 'In', 'Like', 'Over', 'Within']
Adverbs: ['Curiously', 'Furiously', 'Sensuously', 'Extravagantly', 'Tantalizingly']

# R4

In [22]:
captains = {}

In [23]:
captains['Enterprise'] = 'Picard'
captains['Voyager'] = 'Janeway'
captains['Defiant'] = 'Sisko'

In [24]:
if 'Enterprise' not in captains:
    captains['Enterprise'] = 'Unknown'

In [25]:
if 'Discovery' not in captains:
    captains['Discovery'] = 'Unknown'

In [26]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [27]:
del captains['Discovery']

In [28]:
captains = dict(
    Enterprise='Picard',
    Voyager='Janeway',
    Defiant='Sisko'
)
print("\nAfter deletion and re-creation using dict():")
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

After deletion and re-creation using dict():
The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.

In [29]:
capitals_dictionary = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}
for state, capital in capitals_dictionary.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.