1. Write a function called cube() with one number parameter and returns the value of that number raised to the third power. Test the
function by displaying the result of calling your cube() function on
a few different numbers.

In [33]:

def cube(number):
    return number ** 3
print(cube(5))   
print(cube(7))   
print(cube(3))

125
343
27

2. Write a function called greet() that takes one string parameter
called name and displays the text "Hello <name>!"
, where <name> is
replaced with the value of the name parameter

In [29]:
def greet(name):
    print(f"hello, {name}!") 
greet("daven")

hello, daven!

# challenge.convert temperature

1.Write a function named convert_cel_to_far() which takes one float
parameter representing degrees Celsius and returns a float
representing the same temperature in degrees Farenheit.

In [39]:
def convert_far_to_cel(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

fahrenheit_input = float(input("Enter a temperature in degrees F: "))

celsius_output = convert_far_to_cel(fahrenheit_input)
print(f"{fahrenheit_input} degrees F = {celsius_output:.2f} degrees C")

Enter a temperature in degrees F:  72

72.0 degrees F = 22.22 degrees C

2.Write a function named convert_far_to_cel() which take one float
parameter representing degrees Fahrenheit and returns a float
representing the same temperature in degrees Celsius

In [42]:
def convert_cel_to_far(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit

celsius_input = float(input("Enter a temperature in degrees C: "))

fahrenheit_output = convert_cel_to_far(celsius_input)
print(f"{celsius_input} degrees C = {fahrenheit_output:.2f} degrees F")

Enter a temperature in degrees C:  37

37.0 degrees C = 98.60 degrees F

RQ2

1.Write a for loop that prints out the integers 2 through 10, each on a
new line, by using the range() function.

In [43]:
for num in range(2, 11):   
    print(num)

2
3
4
5
6
7
8
9
10

2.Use a while loop that prints out the integers 2 through 10 (Hint: Youâ€™ll
need to create a new integer first.)

In [45]:
current = 2
while current <= 10:
    print(current)
    current += 1

2
3
4
5
6
7
8
9
10

3.Write a function called doubles() that takes one number as its input and
doubles that number. Then use the doubles() function in a loop to
double the number 2 three times, displaying each result on a separate
line. Here is some sample output

In [46]:
def doubles(number):
    return number * 2
num = 2
for _ in range(3):
    num = doubles(num)
    print(num, end=' ')

4 8 16